.btn-glass-vertical {
  background: rgba(255, 255, 255, 0.1); /* Ajustado para mayor visibilidad */
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.8rem 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.3); /* Añadido borde para contraste */
  border-radius: 8px;
  margin-right: 0;
  z-index: 100;
}
.btn-glass-vertical:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.35);
}


