

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  border: 3px solid rgba(0, 150, 255, 0.4);
  box-shadow: 0 0 20px rgba(0, 150, 255, 0.3);
}

.profile-image img {
  
  transition: transform 0.3s ease;
}

.profile-image:hover img {
  transform: scale(1.1) ;
}